  button {
  background-color: #80bbff;
  border: none;
  color:#5A5A97;
  padding: 10px 16px;
  text-align: center;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
h1{
  color:#5A5A97;
  font-style:cambria;
}
h2{
  color:#5A5A97;
  font-style:cambria;
}
body{
  background-color:#cce5ff;
}